<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<br>
<% if logged_in? %>
<%= link_to "delete tag?", tag_path(@tag), method: :delete, data: {confirm: "remove this tag forever?"} %>
<% end %>
<br>
<br>
<br>
<p>
  <%= link_to "<< back to tag index", tags_path %>
</p>